
b {
    font-weight: bold;
}

.log-out{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
}
.sidebar-pages{
    font-family: Source Sans Pro;
    font-weight: normal;
}

.section-title{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    background: linear-gradient(to right, #003077 0%, #B4D2FF 100%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.section-info{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.bottomright {
    position: absolute;
    bottom: 16px;
    right: 24px;
    font-size: 18px;
}

.bottomleft {
    position: absolute;
    bottom: 16px;
    left: 16px;
    font-size: 18px;
}

.topright {
    position: absolute;
    top: 16px;
    right: 24px;
    font-size: 18px;
}

.center{
    text-align: center;
}

.hcenter{
    padding-right: 10px;
    padding-left: 10px;
}

.vcenter{
    padding-top: 15px;
    padding-bottom: 15px;
}

.hands{
    background-color: #EEF5FF;
}

.main {
    min-height: 100vh;
}